{% extends "base.html" %}
{% block bread_crumb %}
<!-- breadcrumb -->
<ul class="navbar-nav ml-auto">
  <li class="nav-item"><a class="nav-link" href="/video/video_add/">Create a Video</a></li>
  <li class="nav-item active"><a class="nav-link" href="#">Video List</a></li>
</ul>

{% endblock %}


{% block content %}
<div>
<br/>
</div>

<!-- DataTable -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{% block page_title %}Your Video List{% endblock %}</h6>
  </div>
  <div class="card-body">
    <div>
      <a href="/video/video_add/" class="btn btn-primary btn-sm">Add New Video</a>
      <a href="/video/video_player/" class="btn btn-primary btn-sm">Preview Video Player</a>
    </div>
    <br/>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>File</th>
            <th>Link</th>
            <th>Status</th>
            <th>Date Added</th>
            <th>Date Last Edited</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for item in getVideos %}
          <tr>
            <td><a href="/video/video_update/{{ item.id }}">{{ item.name }}</a></td>
            <td>{{item.description}}</td>
            <td>{{item.owner}}</td>
            <td><a href="/media/videos/{{item.video_file}}" target="_new">{{item.video_file}}</a></td>
            <td>{{item.link}}</td>
            <td>{{item.status}}</td>
            <td>{{ item.created }}</td>
            <td>{{ item.updated }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/video/video_view/{{ item.id }}" class="btn btn-primary btn-sm">View</a>
                  <a href="/video/video_update/{{ item.id }}"  class="btn btn-secondary btn-sm">Edit</a>
                  <a href="/video/video_delete/{{ item.id }}/" class="btn btn-warning btn-sm"> Delete</a>
              </div>
            </td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="8">
              <li class="list-group-item">No Videos yet.</li>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock content %}
