{% extends "base.html" %}
{% block bread_crumb %}
{% load static %}
<!-- breadcrumb -->
<ul class="navbar-nav ml-auto">
  <li class="nav-item"><a class="nav-link" href="/video/video_add/">Create a Video</a></li>
  <li class="nav-item active"><a class="nav-link" href="#">View Video</a></li>
</ul>

{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'player/css/player.css' %}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <link href="//vjs.zencdn.net/7.8.2/video-js.min.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/7.8.2/video.min.js"></script>
        <video
        id="my-player"
        class="video-js"
        controls
        preload="auto"
        data-setup='{}'>
        <source id="video-src" src="{{ getVideo.playback_hls }}" type="application/x-mpegURL"></source>
      </div>
      <div class="col-4">
        <ul id="playlist">
          {% for video in get_all_videos %}
          <li><a href="{{ video.playback_hls }}" data-thumbnail="{{ video.playback_hls }}">{{ video.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="overlay-content" style="display: none;">
      <p>{{ get_video_product.product.name }}
        <img src="{{ get_video_product.product.image }}">
        {{ get_video_product.product.link }}
      </p>
    </div>
  </div>
  <script>
    var player = videojs("my-player");
    var videoSrc = document.getElementById("video-src");
    var playlist = document.getElementById("playlist");
    var adBottom = document.getElementById("ad-bottom");
    var adLeft = document.getElementById("ad-left");

    playlist.addEventListener("click", function(event) {
      event.preventDefault();
      if (event.target.tagName === "A") {
        var thumbnailUrl = event.target.getAttribute("data-thumbnail");
        var videoUrl = event.target.href;
        player.pause()
        videoSrc.setAttribute('src', videoUrl);
        player.poster = thumbnailUrl;
        player.load();
        player.play();
      }
    });

    var video = document.getElementById("my-video");
    var overlayContent = document.getElementById("overlay-content");

    video.addEventListener("timeupdate", function() {
      if (this.currentTime >= 30 && this.currentTime < 45) {
        overlayContent.style.display = "block";
      } else {
        overlayContent.style.display = "none";
      }
    });
  </script>







<div>

  <br/>
  <br/>

    <!-- DataTable -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4>{{ getVideo.name }}</h4>
      </div>
      <div class="card-body">
        <p>
          ID: {{ getVideo.id }}<br/>
          Description: {{getVideo.description}}<br/>
          Owner: {{getVideo.owner}}<br/>
          File: {{getVideo.video_file}}<br/>
          Created: {{ getVideo.created }} Last Update:{{ getVideo.updated }}<br/>
          HLS: {{ getVideo.playback_hls }}
        </p>

       
      </div><!-- close card body -->
    </div><!-- close card shadom -->

      <form method="post" action="{% url 'go_live' %}">
        {% csrf_token %}
        <label>Video Stream: <input type="text" name="video_file" value="{{ getVideo.playback_hls }}"></label><br/>
        <label>Platform Stream Key: <input type="text" name="stream_key" value="{{ getVideo.stream_key }}"></label><br/>
        <label>Streaming platform: 
          <select name="platform">
            <option value="youtube">YouTube</option>
            <option value="twitch">Twitch</option>
          </select>
        </label>
        <input type="submit" value="Go Live">
    </form>
</div>

{% endblock content %}
