{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MediaMash Live - Administrator">
  <meta name="author" content="Buildly">

  <title>{% block title %} MM-Live Administrator {% endblock %}</title>

  <link rel="icon" href="{% static 'img/favicon.ico?v=2' %}" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

  <!-- Custom styles for this template-->
  <link href=" {% static 'assests/src/css/sb-admin-2.css' %}" rel="stylesheet">

  {% block extra_js_in_header %}

  {% endblock %}

</head>
<body id="page-top">
<div class="container-fluid"> 
  <div class="row">
    <div>
      <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- Topbar -->
        <a class="navbar-brand" href="index.html">
          <img src="{% static 'assets/img/logo.png' %}" width="40" length="40">
          MM-Live Administrator
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Nav Item - User Information -->
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="img-profile rounded-circle" src="{% static 'assets/img/logo.png' %}" width="20" length="20">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/accounts/profile">Profile</a>
                {% if request.user.is_authenticated %}
                  <a class="dropdown-item" href="/accounts/logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
                {% else %}
                  <a class="dropdown-item" href="/accounts/login" data-toggle="modal" data-target="#logoutModal">Login</a>
                {% endif %}
                </div>
              </li>
            </ul>

          </div>
      </nav>
    </div>
     <!-- End of Topbar -->
  </div>
    


    <div class="container-fluid"> 
      <div class="row">
        <div class="col-1"> 
          <br/>
          <!-- NAV BAR -->
          <a href="/"><span>Dashboard</span></a>


          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
          Video Admin
          </div>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">           
                <span>VOD</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/video/video_list">Video Catalog</a>
                <a class="dropdown-item" href="/video/video_add">Add New Video</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Live Stream</span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/video/video_list">Video Catalog</a>
                  <a class="dropdown-item" href="/video/video_add">Add New Video</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span>Shop</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/shop/product_list">Products</a>
                <a class="dropdown-item" href="/shop/product_add">Add Product</a>
              </div>
            </li>
          </ul>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

          <!-- End of Sidebar -->
        </div>
      <div class="col-8"> 
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><!-- Page title  -->{% block page_title %}{% endblock %}</h1>

        </div>

        <!-- Content Row -->
        <div class="row">
        <div id = "alerts">
        <!-- Any messages for users -->
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        {% if 'safe' in message.tags %}
        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
        {% else %}
        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
        {% endif %}
        {% endfor %}
        <br/>
        {% endif %}
        {% endblock messages %}
        </div>
        <!-- Main body content -->
        <p>{% block content %}{% endblock %}</p>
        </div> <!-- row collapse -->
        </div> <!-- container fluid collapse -->
        </div><!-- .content-wrapper collapse -->
        </div>
      </div>
    </div>
  </div>
</div> 













<!-- Footer -->
<footer class="sticky-footer bg-white">
<div class="container my-auto">
<div class="copyright text-center my-auto">
<span>Copyright &copy; MediaMash 2023</span>
</div>
</div>
</footer>
<!-- End of Footer -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<div id = "ajaxloading" class="modal ajax_loading"></div>

{% block extra_js_in_body %}
<script src="{% static 'assets/src/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/src/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'assets/src/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'assets/src/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'assets/src/vendor/chart.js/Chart.min.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'assets/src/js/bootstrap.bundle.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'ß', 'auto');
ga('send', 'pageview');

</script>

{% endblock %}
</body>
</html>
