{% load static %}

<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Carousel with Videos and Ads from REST API</title>
<head>
<!-- Load Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'player/css/player.css' %}">
<link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>

</head>
<body>
<style>
/* Overlay styles */
.ad {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Faded grey color */
}

/* Image container styles */
.ad-image-container {
  position: relative;
  width: 75px;
  overflow: hidden; /* Hide any part of the image that overflows the container */
}

/* Image styles */
.ad-image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain the image's aspect ratio */
}

/* Hover styles */
.ad-image-container:hover .overlay {
  display: block; /* Show the overlay when hovering over the image container */
}


</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<a href="/video/video_list/" class="btn btn-primary btn-sm">Back to Admin</a>

  <div class="container-fluid">
    <div id="video-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      </div>
      <a class="carousel-control-prev" href="#video-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#video-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container-fluid">
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner-ads">
      </div>
      <a class="carousel-control-prev" href="#ad-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#ad-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      // Load videos and ads from REST API endpoint
      var url='{{ base_url }}/video/api/videos/?format=json'
      $.getJSON(url, function(data) {
        $.each(data, function(index, item) {
          // create a new carousel item for each video
          var itemHtml = '<div class="carousel-item"><video width="100%" class="video-js vjs-default-skin vjs-big-play-centered" controls="false" loop autoplay muted></video><div class="carousel-caption"><h5>' + item.name + '</h5></div></div>';
          $('.carousel-inner').append(itemHtml);
          console.log(item);

          // initialize the video player for each video
          var video = videojs($('.carousel-item').last().find('video').get(0), {fluid: true});

          console.log(item.playback_hls);
          video.src({
            src: item.playback_hls,
            type: 'application/x-mpegURL',
            loop: true,
          });
          video.load();
          video.play();

          // create a new nested carousel for the ads
          if (item.related_products.length === 0) { console.log("Array is empty!")  } else {
            var adHtml = '<div class="carousel-item active"><div class="d-flex">';
            $.each(item.related_products, function(index, ad) {
              console.log(ad);
              adHtml += '<div class="ad"><a href="' + ad.link + '">' + ad.name + '<br/><div class="ad-image-container"><img src="' + ad.images[0].image_url + '" class="ad-image"></div></a></div>';
            });
            adHtml += '</div></div>';
            $('.carousel-inner-ads').append(adHtml);
          }
        });

        // activate the first carousel item and nested carousel
        $('.carousel-item').addClass('active');
        $('.carousel-ads').first().addClass('active');
      });
    });
  </script>
</body>
</html> 

  