{% load static %}

<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Carousel with Videos and Ads from REST API</title>
<head>
<!-- Load Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'player/css/player.css' %}">
<link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<a href="/video/video_list/" class="btn btn-primary btn-sm">Back to Admin</a>
<a href="/video/video_player2/" class="btn btn-primary btn-sm">Preview Video Player 2</a>
  <div class="container-fluid">
    <div id="video-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      </div>
      <a class="carousel-control-prev" href="#video-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#video-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="carousel-ads" class="carousel-ads carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      // Load videos and ads from REST API endpoint
      var url='{{ base_url }}/video/api/videos/?format=json'
      $.getJSON(url, function(data) {
        $.each(data, function(index, item) {
          // create a new carousel item for each video
          var itemHtml = '<div class="carousel-item"><video width="80%" class="video-js vjs-default-skin vjs-big-play-centered" controls="false" autoplay muted><source src=" ' + item.playback_hls + '" type="application/x-mpegURL"></video><div class="carousel-caption"><h5>' + item.name + '</h5></div></div>';
          $('.carousel-inner').append(itemHtml);

          // create a new nested carousel for the ads
          var adHtml = '<div class="carousel-item active"><div class="d-flex">';
          $.each(item.related_products, function(index, ad) {
            adHtml += '<div class="p-2"><a href="' + ad.url + '">' + ad.name + '<br/><img src="' + ad.images.image_url + '"></a></div>';
          });
          adHtml += '</div></div>';
          $('.carousel-ads').append(adHtml);

          // initialize the video player for each video
          var video = videojs($('.carousel-item').last().find('video').get(0), {fluid: true});

          console.log(item.playback_hls);
          video.src({
            src: item.playback_hls,
            type: 'application/x-mpegURL'
          });
          video.load();
          video.play();
        });

        // activate the first carousel item and nested carousel
        $('.carousel-item').first().addClass('active');
        $('.carousel-ads').first().addClass('active');
      });
    });
  </script>
</body>
</html> 

  